﻿@{
    ViewBag.title = "Ordenes Nuevas";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-9">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Órdenes Observadas</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row right-side-info" style="position: absolute; width: 100%; margin-top: 40px;">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 12px;">
                        <div class="card-header" style="padding: 10px 0 0 0; border-bottom: none !important;">
                            <div class="card-head-row">
                                <div class="card-title" style="font-size: 12px; font-weight: 800; text-align: center; width: 100%;">
                                    Órdenes Vigentes
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0 8px 8px 8px;">
                            <div style="height: 120px;" id="grafico-vigente"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row right-side-info" style="position: absolute; width: 100%; margin-top: 210px;">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 12px;">
                        <div class="card-header" style="padding: 10px 0 0 0; border-bottom: none !important;">
                            <div class="card-head-row">
                                <div class="card-title" style="font-size: 12px; font-weight: 800; text-align: center; width: 100%;">
                                    Órdenes Vencídas
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0 8px 8px 8px;">
                            <div style="height: 120px;" id="grafico-vencido"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row right-side-info d-block-none" style="position: absolute; width: 100%; margin-top: 380px;">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 12px;">
                        <div class="card-body right-help" style="padding: 7px 15px;">
                            <h5 style="font-family: Poppins !important; font-weight: 800; color: #ffbc6e;">RECOMENDACIÓN</h5>
                            <p style="font-size: 10px; margin-bottom: 5px; text-align: justify; line-height: unset;">
                                Si tienes dudas respecto al uso de la plataforma, descarga el manual que dejamos a continuación:
                            </p>
                            <button class="bg-btn-light-orange">DESCARGAR MANUAL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (ViewBag.ProfileId != ViewBag.ProveedorProfileId)
        {
            <div class="row p-2" style="margin-top: -10px;">
                <div class="col-md-3">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <label>Seleccionar Analista</label>
                        <select id="analista"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <label>Seleccionar Proceso</label>
                        <select id="proceso"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <input id="consulta" type="text" placeholder="Ingrese Nro. de Orden" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <button id="buscar"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row p-2" style="margin-top: -10px;">
                <div class="col-md-3">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <label>Seleccionar Tipo</label>
                        <select id="tipo" disabled>
                            <option value="PD">Pend. Descarga</option>
                            <option value="PA">Descargardas Pend.</option>
                            <option value="PR">Pend. Aceptación</option>
                            <option value="T" selected>Todas las Órdenes</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <input id="consulta" type="text" placeholder="Ingrese Nro. de Orden" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <button id="buscar"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row graficos-barra-section">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Pendientes de Aceptación</div>
                        <button id="ExportToExcel" class="form-control"
                                style="width: min-content; margin-right: 10px; position: absolute; right: 0;
                                        border: none; color: #31CE36; cursor: pointer; padding: 0; z-index: 100;">
                            <i class="fa fa-file-excel" style="font-size: 25px;"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="margin-top: -30px; padding-left: 0; padding-right: 0; position: relative;">
                    @{
                        if (ViewBag.ProfileId != ViewBag.ProveedorProfileId)
                        {
                            <table id="ordenes-compra-datatable" class="display table table-striped table-hover dataTable"
                                   style="width: 670px;">
                                <thead>
                                    <tr>
                                        <th><div style="width: max-content; margin-right: 8px;">Orden Compra</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Ítem</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Descripción</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Fecha Documento</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Motivo</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Proveedor</div></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        }
                        else
                        {
                            <table id="ordenes-compra-datatable" class="display table table-striped table-hover dataTable"
                                   style="width: 670px;">
                                <thead>
                                    <tr>
                                        <th><div style="width: max-content; margin-right: 8px;">Orden Compra</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Ítem</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Descripción</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Fecha Documento</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Motivo</div></th>
                                        <th><div style="width: max-content; margin-right: 8px;">Analista</div></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/ordenes_observadas/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/ordenes_observadas/list.ajax.js?version=@ViewBag.Time"></script>