﻿@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@media (max-width: 1200px) {
    .login-container {
        width: auto !important;
        display: inherit !important;
    }
    .login-left, .login-right {
        display: block !important;
        width: 430px !important;
        margin: auto !important;
        height: unset !important;
    }
    .login-left {
        padding: 40px 40px !important;
        border: 1px solid silver !important;
    }
    .login-form-group {
        width: auto !important;
    }
        .login-form-group input, .login-form-group select {
            width: 100% !important;
        }
        .login-form-group .body-form-group-login input:nth-child(2) {
            margin-left: unset !important;
        }
    .return {
        top: 0 !important;
        margin-top: 20px;
    }
    .login-right-image {
        padding: 30px 0 !important;
    }
}
body {
    width: 100vw;
    height: 100vh;
    letter-spacing: normal !important;
    font-family: "Poppins";
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;*/
}
label, span, p, div, input, select, textarea, b, button, li, ul, a, h1, h2, h3, h4, h5, h6{
    font-family: "Poppins" !important;
}
.d-block-none {
    display: none !important;
}
#loading-app {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffcc;
    z-index: 5000;
}
    #loading-app img {
        width: 50px;
    }
.login-container {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
}
.login-box {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.profil-section-login {
    display: block;
    padding:5px;
    margin: auto;
    width: min-content;
}
    .profil-section-login button {
        display: block;
        padding: 4px 0;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        background-color: #2297b2;
        color: white;
        margin-top: 5px;
        border: none;
        font-size: 12px;
        border-radius: 5px 0;
        cursor: pointer;
    }
    .profil-section-login button:hover {
        background-color: crimson !important;
    }
.return {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
}
.login-left {
    display: inline-block;
    width: 748px;
    border-left: 1px solid silver;
    color: #9f9f9f;
    height: 100%;
    padding: 20px 40px;
}
    .login-left h1 {
        color: #d9032f;
        text-align: center;
        font-weight: 900;
        /*padding: 10px;*/
        margin-top: 15px;
    }
    .login-left span {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .login-left input {
        padding: 10px;
        /*background: #f4f8f7;*/
        background: #ecefee;
        border-radius: 3px;
        border: none;
        margin-top: 10px;
        /*color: #b3b3b3;*/
        color: #656565;
        text-align: center;
    }
    .login-left p {
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -20px;
        color: #5b5b5b;
        font-weight: 600;
    }
        .login-left input::-webkit-input-placeholder {
            color: #b3b3b3;
        }
        .login-left input:-moz-placeholder { /* Firefox 18- */
            color: #b3b3b3;
        }
        .login-left input::-moz-placeholder { /* Firefox 19+ */
            color: #b3b3b3;
        } 
    .login-left span, .acceso-button, .next-button, .login-left input {
        font-size: 16px;
    }
.login-form-group {
    display: block;
    margin: auto;
    width: 600px;
    margin-top: 10px;
}
    .login-form-group .body-form-group-login select {
        width: 45%;
        padding: 10px;
        background: #ecefee;
        border: none;
        border-radius: 3px;
        color: #656565;
        font-size: 16px;
    }
    .login-form-group .header-form-group-login label {
        font-size: 16px !important;
        font-weight: 700;
        color: #8a8a8a !important;
        display: block;        
    }
    .login-form-group .body-form-group-login input {
        width: 45%;
        color: #656565;
    }
        .login-form-group .body-form-group-login input[type=checkbox] + label {
            font-size: 16px !important;
            color: #656565 !important;
            position: relative;
        }
    .login-form-group .body-form-group-login input[type=checkbox]:checked + label {
        color: #656565 !important;
    }
    .login-form-group .body-form-group-login input[type="checkbox"] + label:before {
        content: "";
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
    }
        .login-form-group .body-form-group-login input[type="checkbox"]:checked + label:before {
            border-color: #d9032f;
        }
        .login-form-group .body-form-group-login input[type="checkbox"]:checked + label:after {
            content: "";
            width: 16px;
            height: 8px;
            border: 4px solid #d9032f;
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 7px;
            margin-left: 4px;
            border-right: 0;
            border-top: 0;
            transform: rotate(-55deg);
        }
    .login-form-group .body-form-group-login input[type="checkbox"] {
        display: none;
    }
    /* Fin Checkbox */
    .login-form-group .body-form-group-login input:nth-child(2) {
        margin-left: 20px;
    }
.logo-image {
    width: 225px;
    margin: auto;
}
.acceso-button {
    border: none;
    border-radius: 3px;
    width: 350px;
    margin: auto;
    cursor: pointer;
    /*background: #f4f8f7;*/
    background: #ecefee;
    margin-top: 20px;
    color: #b3b3b3;
    padding: 10px;
}
.acceso-button-selected {
    background: #ff6b6b;
    color: white;
}
.next-button {
    border: none;
    border-radius: 3px;
    width: 250px;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
    background: #d9032f;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
.next-button-disabled {
    background: #f7cdd5;
    color: white;
    cursor: no-drop !important;
}
.login-right {
    color: white;
    display: inline-block;
    width: 448px;
    /*background: #d9032f;*/
    background-image: url(../image/login-background-right.jpg);
    height: 100%;
    background-position-x: center;
    background-size: cover;
}
.login-right-image {
    height: 100%;
    /*background-image: url(../image/login-background-right.jpg);*/
    /*background: #d9032f;*/
    background: #d9032fdb;
}
.login-right-image .login-box > div {
    width: 265px;
    text-align: center;
}
    .login-right p, .login-right h1, .login-right button {
        display: block;
    }
.login-right h1 {
    font-weight: 900;
    font-size: 38px;
}
.login-right p {
    font-weight: lighter;
    font-size: 16px;
}
.login-right button {
    border: 1px solid white;
    border-radius: 3px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    background: white;
    padding: 10px;
    color: #d9032f;
    cursor: pointer;
}