﻿@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/poppins/Poppins-Bold.ttf");
}
@media (min-width: 992px) {
    .nav-toggle {
        height: 100%;
        display: flex;
    }
}
@media screen and (max-width: 991px) {
    .topbar_open .navbar-header {
        transform: translate3d(0, 100px, 0) !important;
    }
    .filtro-group-1 button {
        margin: auto;
        display: block;
    }
}
body {
    letter-spacing: normal !important;
    font-size: 11px !important;
    font-family: "Poppins";
}
.page-inner {
    min-height: 570px;
}
label, span, p, div, input, select, textarea, b, button, li, ul, a, h1, h2, h3, h4, h5, h6, td, th, tr, table {
    font-family: "Poppins" !important;
}
.dropdown-title {
    border-bottom: 1px solid #f1f1f1;
    color: #444444;
    font-size: 12px !important;
    font-weight: 600;
    padding: 12px 15px;
    text-align: center;
}
.d-block-none {
    display: none !important;
}
.ml5 {
    margin-left: 5px;
}
.avatar-img {
    width: 100%;
    height: 100%;
     object-fit: fill !important; 
}
#loading-app {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffffcc;
    z-index: 5000;
}
    #loading-app img {
        width: 50px;
    }
.navbar.navbar-header {
    height: 80px !important;
}
.sidebar .nav > .nav-item a p, .sidebar[data-background-color="white"] .nav > .nav-item a p {
    font-size: 12px;
}
.sidebar {
    margin-top: 80px !important;
}
.main-panel {
    background: #f5f6fa;
}
.main-panel > .container {
    background-color: #f5f6fa;
    /*margin-top: 110px !important;*/
}
.main-header {
    box-shadow: unset;
}
.sidebar {
    margin-top: 100px;
}
    .sidebar .nav-collapse li a .sub-item, .sidebar[data-background-color="white"] .nav-collapse li a .sub-item {
        font-size: 12px;
    }
.logo-header {
    height: 80px;
}
    .logo-header a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-header img {
        width: 150px;
        height: 37px;
    }
.avatar-img {
    border-radius: 10px;
}
.navbar-login-info {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    background: white;
}
.navbar-login-info ul li {
    cursor: pointer;
}
    .navbar-login-info span {
        color: #8c8c8c;
    }
.navbar .navbar-nav .nav-item {
    margin-right: 18px;
}
.navbar.navbar-header {
    height: 100px;
    background: #f5f6fa;
}
.ui-front {
    z-index: 1200;
    background: silver;
    margin-top: 9px;
    height: 230px;
    overflow: auto;
}
    .ui-front li {
        padding: 5px;
        margin-left: -40px;
        cursor: pointer;
    }
    .ui-front li:hover {
        background: white;
    }
        .ui-front li div {
            display: inline-block;
        }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none !important;
    background: none !important; 
    color: black;
}

.ui-datepicker {
    background: white;
    border: 1px solid silver;
    padding: 5px;
}
.ui-datepicker-calendar tbody td a {
    border: 1px solid white !important;
    /*background: unset !important;*/
    text-align: center !important;
}
.close-btn {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 5px 8px;
    cursor: pointer;
    z-index: 1;
    background: red;
    border-radius: 30px;
    width: 22px;
    height: 22px;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
    .tooltip .tooltiptext {
        visibility: hidden;
        width: max-content;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 8px;
        font-size: 10px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

/* DASHBOARD */
@media (max-width: 992px) {
    .right-side-info {
        display: none !important;
    }
}
@media (min-width: 992px){
    .page-inner {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding: 5px 8px;
    }
}
.card {
    margin-bottom: 10px;
}
.card-title {
    font-size: 16px;
    font-weight: 600;
}
.card .card-header, .card-light .card-header {
    padding: 8px;
}
.card .card-body, .card-light .card-body {
    padding: 10px;
}
.go-to-right {
    margin-left: calc(100% - 45px) !important;
}
.box-dash-ordenes {
    padding: 10px;
}    
    .box-dash-ordenes .box-title, .box-dash-ordenes .box-number, .box-dash-ordenes .box-items {
        text-align: center;
    }
    .box-dash-ordenes .box-title {
        font-weight: 800;
        font-size: 12px;
    }
    .box-dash-ordenes .box-number span {
        font-size: 60px;
        font-size: 35px;
        font-weight: 600;
    }
    .box-dash-ordenes .box-items label {
        padding: 8px;
        color: white !important;
        font-weight: 600;
        border-radius: 5px;
        font-size: 10px !important;
    }
.bg-btn-light-blue {
    border: 1px solid #84e0be;
    background: #84e0be;
}
.bg-btn-light-violete {
    border: 1px solid #ababfd;
    background: #ababfd;
}
.bg-btn-light-orange {
    border: 1px solid #ffbc6e;
    background: #ffbc6e;
}
.bg-btn-disabled {
    border: 1px solid #cdcdce;
    background: #cdcdce;
}
.bg-btn-disabled-2 {
    border: 1px solid #b6b6b6;
    background: #e6e6e6;
}
.bg-btn-info {
    border: 1px solid #8abfff;
    background: #8abfff;
}
.bg-btn-success {
    border: 1px solid #14eca3;
    background: #14eca3;
}
.bg-btn-danger {
    border: 1px solid #ff6b6b;
    background: #ff6b6b;
}
.bg-btn-warning {
    border: 1px solid #ffbc6e;
    background: #ffbc6e;
}
.bg-btn-white {
    border: 1px solid white;
    background: white;
    color: black !important;
}
.bg-info {
    background: #8abfff;
}
.o-disabled {
    opacity: 0.4;
}
.filtro-group-1 {
    width: 100%;
    margin-bottom: 10px;
}
    .filtro-group-1 label {
        font-size: 10px !important;
        position: absolute;
        margin: 6px 0 0 12px;
    }
    .filtro-group-1 input {
        border-radius: 12px;
        border: none;
        width: 100%;
        color: #2A2F5B;
        font-size: 12px !important;
        font-weight: 800;
        padding: 15px 10px 15px 10px;
    }
    .filtro-group-1 select {
        border-radius: 12px;
        border: none;
        width: 100%;
        color: #2A2F5B;
        font-size: 13px !important;
        font-weight: 800;
        padding: 23px 10px 2px 8px;
    }
    .filtro-group-1 option {
        width: 100%;
        color: #2A2F5B;
        font-size: 13px !important;
    }
    .filtro-group-1 button {
        height: 100%;
        color: white;
        padding: 12px 14px;
        font-size: 16px !important;
        border: none;
        background: #ff6b6b;
        border-radius: 12px;
        cursor: pointer;
        outline: none;
    }
        .filtro-group-1 button i {
            vertical-align: middle;
        }
.filtro-group-2 {
    width: 100%;
    margin-bottom: 5px;
}
    .filtro-group-2 label {
        font-size: 10px !important;
        position: absolute;
        margin: 6px 0 0 12px;
    }

    .filtro-group-2 input {
        border-radius: 12px;
        border: none;
        width: 100%;
        color: #2A2F5B;
        font-size: 12px !important;
        font-weight: 800;
        padding: 20px 10px 10px 12px;
    }
    .filtro-group-2 button {
        height: 100%;
        color: #b6b6b6;
        padding: 11px 13px;
        font-size: 16px !important;
        border: none;
        background: #f0f0f2;
        border-radius: 12px;
        cursor: pointer;
        outline: none;
        border: 1px solid #b6b6b6;
    }
        .filtro-group-2 button i {
            vertical-align: middle;
        }    

/* ORDENES NUEVAS */
.dataTable td, .dataTable th {
    font-size: 10px !important;
    height: 45px;
    padding: 0 10px !important;
}
.dataTable td {
    white-space: nowrap;
}
.dataTable input, .dataTable select {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px;
}
.dataTables_scrollHeadInner, div.dataTables_scrollBody table {
    margin: auto;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 17px;
    display: block;
    opacity: 0.5;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    font-size: 10px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    font-size: 10px;
}
.button-estatus {
    padding: 3px 7px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.button-detail {
    color: #8abfff;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.btn-alone {
    padding: 5px 8px;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    font-size: 10px;
    cursor: pointer;
    outline: none;
}
.acciones-datatable-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .acciones-datatable-1 button {
        padding: 3px 5px;
        border-radius: 5px;
        margin-left: 5px;
        color: white;
        font-size: 10px;
        cursor: pointer !important;
        outline: none;
        width: max-content;
    }
        .acciones-datatable-1 button i {
            vertical-align: middle;
        }
.form-group-1 {
    width: 100%;
}
    .form-group-1 label {
        font-size: 12px !important;
        color: #2A2F5B !important;
        display: block;
        font-weight: 600;
    }
    .form-group-1 input {
        font-size: 11px;
        color: #2A2F5B;
        display: block;
        width: 100%;
        padding: 10px;
        background: #f6f6f6;
        border-radius: 5px;
        border: none;
    }
    .form-group-1 textarea {
        font-size: 11px;
        color: #2A2F5B;
        display: block;
        width: 100%;
        padding: 10px;
        background: #f6f6f6;
        border-radius: 5px;
        border: none;
        resize: none;
    }
    .form-group-1 select {
        font-size: 11px;
        color: #2A2F5B;
        display: block;
        width: 100%;
        padding: 10px;
        background: #f6f6f6;
        border-radius: 5px;
        border: none;
    }
    .form-group-1 .select2 {
        width: 100% !important;
    }
    .form-group-1 .select2-selection {
        font-size: 11px;
        color: #2A2F5B;
        display: block;
        width: 100%;
        padding: 10px;
        background: #f6f6f6;
        border-radius: 5px;
        border: none;
        height: 45px;
    }
        .form-group-1 .select2-selection b[role=presentation] {
            margin-top: 6px !important;
        }
.bootstrap-datetimepicker table {
    z-index: 900;
}
.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    padding: 0 !important;
}
.bootstrap-datetimepicker-widget tr {
    background-color: white !important;
}

/* APROBACIÓN SOLICITUDES REGISTRO */
.acciones-datatable-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 3px 3px 3px;
}
    .acciones-datatable-2 label {
        font-size: 11px !important;
        position: absolute;
        font-weight: 800;
        display: block;
        margin: auto;
        margin-top: -50px;
    }
    .acciones-datatable-2 button {
        padding: 5px 8px;
        border-radius: 5px;
        margin-left: 5px;
        color: white;
        font-size: 10px;
        cursor: pointer;
        outline: none;
    }
        .acciones-datatable-2 button i {
            vertical-align: middle;
        }
.select-datatable {
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/* ORDENES POR ENTREGAR */
.status-cube {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    vertical-align: sub;
}

/* ORDENES OBSERVADAS */
.right-help button {
    height: 100%;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

/* CONFIGURACION */
@media (max-width: 1200px) {
    .login-left {
        display: block !important;
        width: 430px !important;
        margin: auto !important;
        height: unset !important;
    }
    .login-form-group {
        width: auto !important;
    }
        .login-form-group input, .login-form-group select {
            width: 100% !important;
        }
        .login-form-group .body-form-group-login input:nth-child(2) {
            margin-left: unset !important;
        }
}

.login-left {
    display: inline-block;
    width: 100%;
    color: #9f9f9f;
    height: 100%;
    padding: 20px 40px;
}

    .login-left h1 {
        color: #d9032f;
        text-align: center;
        font-weight: 900;
        margin-top: 15px;
    }

    .login-left span {
        display: block;
        text-align: center;
        padding: 10px;
    }

    .login-left input {
        padding: 10px;
        background: #ecefee;
        border-radius: 3px;
        border: none;
        margin-top: 10px;
        color: #656565;
        text-align: center;
    }

    .login-left p {
        font-size: 16px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: -20px;
        color: #5b5b5b;
        font-weight: 600;
    }

    .login-left input::-webkit-input-placeholder {
        color: #b3b3b3;
    }

    .login-left input:-moz-placeholder { /* Firefox 18- */
        color: #b3b3b3;
    }

    .login-left input::-moz-placeholder { /* Firefox 19+ */
        color: #b3b3b3;
    }

    .login-left span, .acceso-button, .next-button, .login-left input {
        font-size: 12px;
    }

.login-form-group {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}

    .login-form-group .body-form-group-login select {
        width: 45%;
        padding: 10px;
        background: #ecefee;
        border: none;
        border-radius: 3px;
        color: #656565;
        font-size: 12px;
    }

    .login-form-group .header-form-group-login label {
        font-size: 12px !important;
        font-weight: 700;
        color: #8a8a8a !important;
        display: block;
    }

    .login-form-group .body-form-group-login input {
        width: 45%;
        color: #656565;
    }

.title-configuracion {
    width: 100%;
    position: relative;
}
    .title-configuracion > div {
        display: inline-block;
    }
    .title-configuracion label {
        font-size: 16px !important;
        color: #8a8a8a !important;
        font-weight: 700;
    }
    .title-configuracion span {
        display: inline-block;
        font-size: 12px;
    }
    .title-configuracion .right-setting {
        float: right;
    }
    .title-configuracion .right-setting > div {
        display: flex;
    }
    .title-configuracion button {
        border: none;
        color: silver;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 1px silver;
        cursor: pointer;
    }
        .title-configuracion button:focus {
            box-shadow: 0px 1px 5px 1px silver !important; 
        }
.login-button-section {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
    .login-button-section button {
        border: none;
        padding: 10px 25px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        color: white;
    }

/* CENTRO DE SOPORTE */
.form-group-2 label {
    font-size: 16px !important;
    font-weight: 600;
}
.form-group-2 textarea {
    display: block;
    width: 100%;
    resize: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

/* MANUAL */
.btn-download {
    position: absolute;
    padding: 6px;
    background: #d5012e;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
    .btn-download:hover {
        box-shadow: 1px 1px 9px 2px #ffa9a9;
        color: white !important;
        text-decoration: none !important;
    }
    .btn-download:active, .btn-download:focus {
        color: white !important;
        text-decoration: none !important;
    }

/* MANTENIMIENTO */
.dataTable-Filter-active {
    margin-top: 10px !important;
}
    .dataTable-Filter-active label, .dataTable-Filter-active input {
        font-size: 10px !important;
    }