﻿@{
    ViewBag.title = "Mantenimiento de Parametros";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-9">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Parámetros</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Parámetros</div>
                        <button id="ExportToExcel" class="form-control"
                                style="width: min-content; margin-right: 10px; position: absolute; right: 0;
                                        border: none; color: #31CE36; cursor: pointer; padding: 0;">
                            <i class="fa fa-file-excel" style="font-size: 25px;"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @*<button id="add" class="btn-alone bg-btn-success go-to-right"><i class="fa fa-plus"></i></button>*@
                    <table id="parametros-datatable" class="display table table-striped table-hover dataTable"
                           style="width: 450px;">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Datos</th>
                                <th>Descripción</th>
                                <th style="width: 35px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/parametros/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/parametros/list.ajax.js?version=@ViewBag.Time"></script>