﻿@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/bower_components/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/bower_components/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/bower_components/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/bower_components/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/bower_components/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/bower_components/summernote/summernote-bs4.css">
    <!-- select2 -->
    <link rel="stylesheet" href="~/bower_components/select2/css/select2.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/bower_components/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- JGrowl -->
    <link href="~/bower_components/jGrowl-master/jquery.jgrowl.min.css" rel="stylesheet" />
    <!-- DatePicker -->
    <link href="~/bower_components/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/assets/site/site.css?version=@ViewBag.Version">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @Html.Partial("PartialView/_Header")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div id="AppPage">
                        @*@RenderBody()*@
                    </div>
                    <div id="PageLoading">
                        <img src="~/assets/images/loading1.gif" />
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/bower_components/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/bower_components/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/bower_components/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/bower_components/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/bower_components/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/bower_components/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/bower_components/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/bower_components/moment/moment.min.js"></script>
    <script src="~/bower_components/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/bower_components/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/bower_components/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/bower_components/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- select2 -->
    <script src="~/bower_components/select2/js/select2.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/js/adminlte.js"></script>
    <!-- ModalPlugin -->
    <script src="~/bower_components/ModalPlugin/ModalAlert.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables/jquery.dataTables.js"></script>
    <script src="~/bower_components/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/bower_components/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- JGrowl -->
    <script src="~/bower_components/jGrowl-master/jquery.jgrowl.js"></script>
    <script src="~/bower_components/clipboard/clipboard.min.js"></script>
    <!-- DatePicker -->
    <script src="~/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        sessionStorage.setItem("window-session", "@PermisoPerfilesApp.Models.SessionHelpers.GetSessionID()");
        sessionStorage.setItem("window-profile", "@PermisoPerfilesApp.Models.SessionHelpers.GetProfileId()");
        window.aG9tZQ = '@Url.Action("Index", "Home")';
    </script>

    <script src="~/assets/js/app.js?version=@ViewBag.Version"></script>

    <script src="~/assets/js/init.js?version=@ViewBag.Version"></script>
    <script src="~/assets/site/site.ajax.js?version=@ViewBag.Version"></script>
    <script src="~/assets/site/site.js?version=@ViewBag.Version"></script>

    <script>
        var Global =
        {
            ProfileId: @ViewBag.ProfileId,
            AnalistaId: @ViewBag.AnalistaId
        };
        function GetGlobalVar() {
            return Global;
        }
    </script>

</body>
</html>
