﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portal Proveedores</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://via.placeholder.com/50" type="image/x-icon" />
    <meta name="google" content="notranslate" />
    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/atlantis.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/plantilla.css?version=@ViewBag.Time">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="../assets/css/demo.css">
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
                <a href="index.html" class="logo">
                    <img src="~/assets/image/logo_siderperu_blanco.png" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            @Html.Partial("PartialView/_Navbar")
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        @Html.Partial("PartialView/_Header")
        <!-- End Sidebar -->

        <div id="loading-app"><img src="~/assets/image/loading/loading_2.gif" /></div>
        <div class="main-panel">
            <div class="container">
                <div id="AppPage">
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <script>
        function ShowLoading() {
            $("#loading-app").removeClass("d-block-none");
        }
        function HideLoading() {
            $("#loading-app").addClass("d-block-none");
        }
        
        var Global =
        {
            ProfileId: @ViewBag.ProfileId,
            AnalistaId: @ViewBag.AnalistaId,
            RolId: @ViewBag.RolId,
            AnalistaProfileId: @ViewBag.AnalistaProfileId,
            AdministradorProfileId: @ViewBag.AdministadorProfileId,
            ProveedorProfileId: @ViewBag.ProveedorProfileId
        };
        function GetGlobalVar() {
            return Global;
        }
    </script>

    <!-- jQuery Scrollbar -->
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="../assets/js/plugin/moment/moment.min.js"></script>

    <!-- Chart JS -->
    <script src="../assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="../assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="../assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="../assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="../assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="../assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Google Maps Plugin -->
    <script src="../assets/js/plugin/gmaps/gmaps.js"></script>

    <!-- Dropzone -->
    <script src="../assets/js/plugin/dropzone/dropzone.min.js"></script>

    <!-- Fullcalendar -->
    <script src="../assets/js/plugin/fullcalendar/fullcalendar.min.js"></script>

    <!-- DateTimePicker -->
    <script src="../assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>

    <!-- Bootstrap Tagsinput -->
    <script src="../assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

    <!-- Bootstrap Wizard -->
    <script src="../assets/js/plugin/bootstrap-wizard/bootstrapwizard.js"></script>

    <!-- jQuery Validation -->
    <script src="../assets/js/plugin/jquery.validate/jquery.validate.min.js"></script>

    <!-- Summernote -->
    <script src="../assets/js/plugin/summernote/summernote-bs4.min.js"></script>

    <!-- Select2 -->
    <script src="../assets/js/plugin/select2/select2.full.min.js"></script>

    <!-- Sweet Alert -->
    <script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Owl Carousel -->
    <script src="../assets/js/plugin/owl-carousel/owl.carousel.min.js"></script>

    <!-- Magnific Popup -->
    <script src="../assets/js/plugin/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Atlantis JS -->
    <script src="../assets/js/atlantis.min.js"></script>

    <!-- AmCharts 4 -->
    <script src="~/assets/js/plugin/amchart4/core.js"></script>
    <script src="~/assets/js/plugin/amchart4/charts.js"></script>
    <script src="~/assets/js/plugin/amchart4/animated.js"></script>

    <!-- ModalPlugin -->
    <script src="~/assets/js/plugin/modal-plugin/ModalAlert.js?version=@ViewBag.Time"></script>
    <!-- ModalFastPlugin -->
    <script src="~/assets/js/plugin/modal-fast-plugin/ModalFastAlert.js?version=@ViewBag.Time"></script>

    <!-- InputValidation -->
    <script src="~/assets/js/InputValidation.js"></script>

    <script type="text/javascript">
        sessionStorage.setItem("window-session", "@PortalProveedor.Models.SessionHelpers.GetSessionID()");
        sessionStorage.setItem("window-profile", "@PortalProveedor.Models.SessionHelpers.GetProfileId()");
        window.aG9tZQ = '@Url.Action("Index", "Home")';
    </script>
    <script src="~/assets/initialize/app.js?version=@ViewBag.Time"></script>
    <script src="~/assets/initialize/init.js?version=@ViewBag.Time"></script>
    <script>
        var NavBarModel =
        {
            ProfileId: @ViewBag.ProfileId,
            RolId: @ViewBag.RolId
        };
        LoadGlobalScriptNavbar(NavBarModel);
    </script>

</body>
</html>