﻿@{
    ViewBag.title = "Ordenes Por Entregar";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-9">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Órdenes Por Entregar</h1>
                </div>
            </div>
        </div>
    </div>
    @{
        if (ViewBag.ProfileId != ViewBag.ProveedorProfileId)
        {
            <div class="row p-2">
                <div class="col-md-3">
                    <div class="filtro-group-1">
                        <label>Seleccionar Analista</label>
                        <select id="analista"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filtro-group-1">
                        <label>Seleccionar Proceso</label>
                        <select id="proceso"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="filtro-group-1">
                        <label>Seleccionar Status</label>
                        <select id="status">
                            <option value="VE">Vencidas</option>
                            <option value="PV">Por Vencer</option>
                            <option value="VI">Vigentes</option>
                            <option value="T" selected>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filtro-group-1">
                        <input id="consulta" type="text" placeholder="Ingrese Nro. de Orden" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="filtro-group-1">
                        <button id="buscar"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row p-2">
                <div class="col-md-3">
                    <div class="filtro-group-1">
                        <label>Seleccionar Tipo</label>
                        <select id="tipo" disabled>
                            <option value="PD">Pend. Descarga</option>
                            <option value="PA">Pend. Aceptación</option>
                            <option value="PR">Pend. Acept. Reciente</option>
                            <option value="T" selected>Todas las Órdenes</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filtro-group-1">
                        <label>Seleccionar Status</label>
                        <select id="status">
                            <option value="VE">Vencidas</option>
                            <option value="PV">Por Vencer</option>
                            <option value="VI">Vigentes</option>
                            <option value="T" selected>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filtro-group-1">
                        <input id="consulta" type="text" placeholder="Ingrese Nro. de Orden" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="filtro-group-1">
                        <button id="buscar"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="filtro-group-2">
                        <button id="editar"><i class="fa fa-edit"></i></button>
                        <button id="guardar" class="d-block-none"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row graficos-barra-section">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Lista de Órdenes</div>
                        <button id="ExportToExcel" class="form-control"
                                style="width: min-content; margin-right: 10px; position: absolute; right: 0;
                                        border: none; color: #31CE36; cursor: pointer; padding: 0;">
                            <i class="fa fa-file-excel" style="font-size: 25px;"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="margin-top: -30px; padding-left: 0; padding-right: 0;">
                    @{
                        if (ViewBag.ProfileId != ViewBag.ProveedorProfileId)
                        {                            
                            <table id="ordenes-compra-datatable" class="display table table-striped table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th style="width: 5px;"></th>
                                        <th style="width: 10px;">Ver</th>
                                        <th style="width: 30px;">Proveedor</th>
                                        <th style="width: 30px;">Orden Compra</th>
                                        <th>Ítem</th>
                                        <th style="width: 30px;">Descripción</th>
                                        <th style="width: 10px;">Cant. Pend.</th>
                                        <th>UM</th>
                                        <th class="TotalSearch">Analista</th>
                                        <th>Fecha E.</th>
                                        <th>Fecha C.</th>
                                        <th>Motivo</th>
                                        <th>Aprobación</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        }
                        else
                        {
                            <table id="ordenes-compra-datatable" class="display table table-striped table-hover dataTable">
                                <thead>
                                    <tr>
                                        @*<th>Ver</th>
                                        <th>Analista</th>
                                        <th>Orden Compra</th>
                                        <th>Ítem</th>
                                        <th>Descripción</th>
                                        <th>Cant. Pend.</th>
                                        <th>UM</th>
                                        <th>Fecha E.</th>
                                        <th>Fecha C.</th>
                                        <th>Motivo</th>
                                        <th>Act.</th>
                                        <th>Aprob</th>*@
                                        <th style="width: 3%;"></th>
                                        <th style="width: 4%;">Ver</th>                                        
                                        <th style="width: 8%;">Orden Compra</th>
                                        <th style="width: 5%;">Ítem</th>
                                        <th style="width: 8%;">Descripción</th>
                                        <th style="width: 5%;">Cant. Pend.</th>
                                        <th style="width: 4%;">UM</th>
                                        <th style="width: 7%;">Analista</th>
                                        <th style="width: 8%;">Fecha E.</th>
                                        <th style="width: 8%;">Fecha C.</th>
                                        <th style="width: 10%;">Motivo</th>
                                        <th style="width: 4%;">Act.</th>
                                        <th style="width: 4%;">Aprob</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/ordenes_por_entregar/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/ordenes_por_entregar/list.ajax.js?version=@ViewBag.Time"></script>