﻿@{
    ViewBag.title = "Aprobación de Solicitudes";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-9">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Aprobación de Solicitudes</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-3">
            <div class="filtro-group-1">
                <label>Estado</label>
                <select id="estado-filtro">
                    <option value="P" selected>Pendiente</option>
                    <option value="A">Aprobado</option>
                    <option value="R">Rechazado</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 fecha-filtro-section d-block-none">
            <div class="filtro-group-2">
                <label>Fecha Inicio</label>
                <input id="fecha-inicio-filtro" type="text" />
            </div>
        </div>
        <div class="col-md-3 fecha-filtro-section d-block-none">
            <div class="filtro-group-2">
                <label>Fecha Fin</label>
                <input id="fecha-fin-filtro" type="text" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="filtro-group-1">
                <button id="buscar"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Aprobación de Solicitudes</div>
                        <button id="ExportToExcel" class="form-control"
                                style="width: min-content; margin-right: 10px; position: absolute; right: 0;
                                        border: none; color: #31CE36; cursor: pointer; padding: 0;">
                            <i class="fa fa-file-excel" style="font-size: 25px;"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="aprobacion-solicitud-datatable" class="display table table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Codigo Sap</th>
                                <th style="width: 10%;">Proveedor</th>
                                <th style="width: 15%;">Solicitante</th>
                                <th style="width: 15%;">Correo</th>
                                <th style="width: 10%;">Contraseña</th>
                                <th style="width: 10%;">Fecha Regis.</th>
                                <th style="width: 15%;">Rol</th>
                                <th style="width: 15%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="card-footer guardar-section">
                    <button id="guardar" class="btn-alone bg-btn-light-blue">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/aprobacion_solicitud/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/aprobacion_solicitud/list.ajax.js?version=@ViewBag.Time"></script>