﻿@{
    ViewBag.title = "Login";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<!DOCTYPE html>
<html>
<head><meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>@ViewBag.Title - Portal Proveedor</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://via.placeholder.com/50" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/atlantis.css">
    <link rel="stylesheet" href="~/assets/css/login.css?version=@ViewBag.Time">
</head>
<body>
    <div id="loading-app"><img src="~/assets/image/loading/loading_2.gif" /></div>
    <div class="login-container acceso">
        <div class="login-left">
            <div class="login-box">
                <img class="logo-image" src="~/assets/image/logo_siderperu.png" />
                <h1>Acceso</h1>
                <span>Selecciona si eres proveedor o analista.</span>
                <button class="acceso-button" data-id="P">Proveedor</button>
                <button class="acceso-button" data-id="A">Analista</button>
                <button class="next-button next-button-disabled" id="next-acceso">Siguiente</button>
            </div>
        </div>
        <div class="login-right">
            <div class="login-right-image">
                <div class="login-box">
                    <div>
                        <h1>¡BIENVENIDO!</h1>
                        <p>
                            Bienvenido a nuestra plataforma de monitoreo y seguimiento de órdenes de compra. Si eres
                            proveedor o analista, ingresa los datos solicitados para ingresar.
                        </p>
                        <button id="learn-more">
                            <a href="https://www.siderperu.com.pe/" target="_blank" style="text-decoration: none">
                                Conoce más
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container inicio-session-proveedor d-block-none">
        <div class="login-left">
            <div class="return" id="return-inicio-session-proveedor"><i class="fa fa-chevron-left"></i> Regresar</div>
            <div class="login-box">
                <img class="logo-image" src="~/assets/image/logo_siderperu.png" />
                <h1>Inicia Sessión</h1>
                <span>Ingresa tus datos de proveedor para iniciar sessión.</span>
                <input id="correo-proveedor-login" type="text" placeholder="Correo Electrónico" autocomplete="off" />
                <input id="password-proveedor-login" type="password" placeholder="Contraseña" />
                <p>¿Olvidaste tu contraseña?</p>
                <button class="next-button next-button-disabled" id="proveedor-login">Ingresar</button>
                <div id="perfil-proveedor-login" class="profil-section-login"></div>
            </div>
        </div>
        <div class="login-right">
            <div class="login-right-image">
                <div class="login-box">
                    <div>
                        <h1>¡BIENVENIDO!</h1>
                        <p>
                            Bienvenido a nuestra plataforma de monitoreo y seguimiento de órdenes de compra. Si eres
                            proveedor, crea tu cuenta en el siguiente enlace:
                        </p>
                        <button id="sign-up">Registrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container inicio-session-analista d-block-none">
        <div class="login-left">
            <div class="return" id="return-inicio-session-analista"><i class="fa fa-chevron-left"></i> Regresar</div>
            <div class="login-box">
                <img class="logo-image" src="~/assets/image/logo_siderperu.png" />
                <h1>Inicia Sessión</h1>
                <span>Ingresa tus datos de analista para iniciar sessión.</span>
                <input id="correo-analista-login" type="text" placeholder="Correo Electrónico" autocomplete="off" />
                <input id="password-analista-login" type="password" placeholder="Contraseña" />
                <p>¿Olvidaste tu contraseña?</p>
                <button class="next-button next-button-disabled" id="analista-login">Ingresar</button>
                <div id="perfil-analista-login" class="profil-section-login"></div>
            </div>
        </div>
        <div class="login-right">
            <div class="login-right-image">
                <div class="login-box">
                    <div>
                        <h1>¡BIENVENIDO!</h1>
                        <p>
                            Bienvenido a nuestra plataforma de monitoreo y seguimiento de órdenes de compra. Si eres
                            proveedor o analista, ingresa los datos solicitados para iniciar.
                        </p>
                        <button id="learn-more">
                            <a href="https://www.siderperu.com.pe/" target="_blank" style="text-decoration: none">
                                Conoce más
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container crear-cuenta-1 d-block-none">
        <div class="login-left">
            <div class="return" id="return-crear-cuenta-1"><i class="fa fa-chevron-left"></i> Regresar</div>
            <div class="login-box">
                <img class="logo-image" src="~/assets/image/logo_siderperu.png" />
                <h1>Crear Cuenta</h1>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Información General</label>
                    </div>
                    <div class="body-form-group-login">
                        <input id="ruc-login" type="text" placeholder="RUC" autocomplete="off" />
                        <input id="razon-social-login" type="text" placeholder="Razón Social" autocomplete="off" disabled />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Datos del Solicitante</label>
                    </div>
                    <div class="body-form-group-login">
                        <input id="nombre-login" type="text" placeholder="Nombre" autocomplete="off" disabled />
                        <input id="cargo-login" type="text" placeholder="Cargo" autocomplete="off" disabled />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="ap-paterno-login" type="text" placeholder="Apellido Paterno" autocomplete="off" disabled />
                        <input id="ap-materno-login" type="text" placeholder="Apellido Materno" autocomplete="off" disabled />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="correo-login" type="text" placeholder="Correo Electronico" autocomplete="off" disabled />
                        <input id="celular-login" type="text" placeholder="Celular" autocomplete="off" disabled />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Seguridad</label>
                    </div>
                    <div class="body-form-group-login">
                        <input id="password-1-login" type="password" placeholder="Ingrese Contraseña" disabled />
                        <input id="password-2-login" type="password" placeholder="Repite la Contraseña" disabled />
                    </div>
                </div>
                <button class="next-button next-button-disabled" id="crear-cuenta-1-login">Continuar</button>
            </div>
        </div>
        <div class="login-right">
            <div class="login-right-image">
                <div class="login-box">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container crear-cuenta-2 d-block-none">
        <div class="login-left">
            <div class="return" id="return-crear-cuenta-2"><i class="fa fa-chevron-left"></i> Regresar</div>
            <div class="login-box">
                <img class="logo-image" src="~/assets/image/logo_siderperu.png" />
                <h1>Crear Cuenta</h1>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Contacto de Gerencia de Venta/Gerencia General</label>
                    </div>
                    <div class="body-form-group-login">
                        <input id="nombre-gerencia-login" type="text" placeholder="Nombre" autocomplete="off" />
                        <input id="cargo-gerencia-login" type="text" placeholder="Cargo" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="ap-paterno-gerencia-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                        <input id="ap-materno-gerencia-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="correo-gerencia-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                        <input id="celular-gerencia-login" type="text" placeholder="Celular" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Contacto Facturación</label>
                    </div>
                    <div class="body-form-group-login">
                        <input id="nombre-facturacion-login" type="text" placeholder="Nombre" autocomplete="off" />
                        <input id="cargo-facturacion-login" type="text" placeholder="Cargo" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="ap-paterno-facturacion-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                        <input id="ap-materno-facturacion-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="correo-facturacion-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                        <input id="celular-facturacion-login" type="text" placeholder="Celular" autocomplete="off" />
                    </div>
                </div>
                <button class="next-button next-button-disabled" id="crear-cuenta-2-login">Continuar</button>
            </div>
        </div>
        <div class="login-right">
            <div class="login-right-image">
                <div class="login-box">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container crear-cuenta-3 d-block-none">
        <div class="login-left">
            <div class="return" id="return-crear-cuenta-3"><i class="fa fa-chevron-left"></i> Regresar</div>
            <div class="login-box">
                <img class="logo-image" src="~/assets/image/logo_siderperu.png" />
                <h1>Crear Cuenta</h1>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Contacto Técnico</label>
                    </div>
                    <div class="body-form-group-login">
                        <input id="nombre-tecnico-login" type="text" placeholder="Nombre" autocomplete="off" />
                        <input id="cargo-tecnico-login" type="text" placeholder="Cargo" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="ap-paterno-tecnico-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                        <input id="ap-materno-tecnico-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="body-form-group-login">
                        <input id="correo-tecnico-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                        <input id="celular-tecnico-login" type="text" placeholder="Celular" autocomplete="off" />
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Analista</label>
                    </div>
                    <div class="body-form-group-login" style="margin-top: 10px;">
                        <select id="analista-select-login"></select>
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Términos y Condiciones</label>
                    </div>
                    <div class="body-form-group-login" style="margin-top: 10px;">
                        <input type="checkbox" id="terminos-condiciones" />
                        <label for="terminos-condiciones">Acepto los Términos y Condiciones</label>
                    </div>
                </div>
                <div class="login-form-group">
                    <div class="header-form-group-login">
                        <label>Confirmación</label>
                    </div>
                    <div class="body-form-group-login" style="margin-top: 10px;">
                        <input type="checkbox" id="confirmacion" />
                        <label for="confirmacion">
                            Confirmo que la información es verdadera y asumire la responsabilidades
                            y sanciones legales correspondientes.
                        </label>
                    </div>
                </div>
                <button class="next-button next-button-disabled" id="crear-cuenta-3-login">Registrar</button>
            </div>
        </div>
        <div class="login-right">
            <div class="login-right-image">
                <div class="login-box">
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/atlantis.min.js"></script>

    <script>
        function ShowLoading() {
            $("#loading-app").removeClass("d-block-none");
        }
        function HideLoading() {
            $("#loading-app").addClass("d-block-none");
        }
    </script>

    <!-- ModalPlugin -->
    <script src="~/assets/js/plugin/modal-plugin/ModalAlert.js?version=@ViewBag.Time"></script>
    <!-- ModalFastPlugin -->
    <script src="~/assets/js/plugin/modal-fast-plugin/ModalFastAlert.js?version=@ViewBag.Time"></script>

    <script src="~/assets/js/InputValidation.js?version=@ViewBag.Time"></script>
    <script src="~/assets/site/login/login.js?version=@ViewBag.Time"></script>
    <script src="~/assets/site/login/login.ajax.js?version=@ViewBag.Time"></script>

</body>
</html>