﻿@{
    ViewBag.title = "Dashboard";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-9">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row right-side-info" style="position: absolute; width: 100%; margin-top: 40px;">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 12px;">
                        <div class="card-header" style="padding: 10px 0 0 0; border-bottom: none !important;">
                            <div class="card-head-row">
                                <div class="card-title" style="font-size: 12px; font-weight: 800; text-align: center; width: 100%;">
                                    Órdenes Vigentes
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0 8px 8px 8px;">
                            <div style="height: 120px;" id="grafico-vigente"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row right-side-info" style="position: absolute; width: 100%; margin-top: 210px;">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 12px;">
                        <div class="card-header" style="padding: 10px 0 0 0; border-bottom: none !important;">
                            <div class="card-head-row">
                                <div class="card-title" style="font-size: 12px; font-weight: 800; text-align: center; width: 100%;">
                                    Órdenes Vencídas
                                </div>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0 8px 8px 8px;">
                            <div style="height: 120px;" id="grafico-vencido"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row right-side-info" style="position: absolute; width: 100%; margin-top: 380px;">
                <div class="col-lg-12">
                    <div class="card" style="border-radius: 12px;">
                        <div class="card-body" style="padding: 7px 15px;">
                            <h4 style="font-family: Poppins Bold !important; text-align: center; color: red;">¡IMPORTANTE!</h4>
                            <p style="font-weight: 800; font-size: 10px; margin-bottom: 5px; text-align: justify;">
                                Tener en cuenta que las ordenes vencidas afectan tu calificación como proveedor.
                            </p>
                            <p style="font-weight: 800; font-size: 10px; margin-bottom: 5px; text-align: justify;">
                                Prioriza el despacho puntual de tus ordenes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (ViewBag.ProfileId != ViewBag.ProveedorProfileId)
        {
            <div class="row p-2" style="margin-top: -10px;">
                <div class="col-md-3">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <label>Seleccionar Analista</label>
                        <select id="analista"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <label>Seleccionar Proceso</label>
                        <select id="proceso"></select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filtro-group-1" style="margin-top: -10px;">
                        <button id="buscar"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row graficos-item-section" style="margin-top: -10px;">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body box-dash-ordenes" style="height: 123px;">

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body box-dash-ordenes" style="height: 123px;">

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body box-dash-ordenes" style="height: 123px;">

                </div>
            </div>
        </div>
    </div>
    <div class="row graficos-barra-section">
        <div class="col-lg-9">
            <div class="card" style="margin-bottom: 0px;">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Estado de Órdenes de Compra</div>
                    </div>
                </div>
                <div class="card-body" style="padding: 0px;">
                    <div style="height: 310px; margin-top: -20px; margin-bottom: -20px;" id="grafico-barra"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/js/InputValidation.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/dashboard/inicio.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/dashboard/inicio.ajax.js?version=@ViewBag.Time"></script>