﻿@{
    ViewBag.title = "Centro de Soporte";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-12">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Centro de Soporte</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card" style="background: #f5f6fa; box-shadow: none;">
                <div class="card-header">
                    <div class="">
                        <!-- card-head-row -->
                        <div class="card-title">Comunicate con Soporte Técnico</div>
                        <span>Completa los siguientes campos:</span>
                    </div>
                </div>
                <div class="card-body" style="padding: 25px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group-2">
                                <label>Detalle Principal del Problema</label>
                                <textarea id="main-detail" rows="10" placeholder="Completa Aquí"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group-2">
                                <label> Detalles Adicionales</label>
                                <textarea id="added-detail" rows="4" placeholder="Completa Aquí"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 login-button-section">
                            <button id="send" class="bg-danger">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/centro_soporte/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/centro_soporte/list.ajax.js?version=@ViewBag.Time"></script>