﻿@{
    ViewBag.title = "Configuración";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-12">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Configuración</h1>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="login-container crear-cuenta-1">
                <div class="login-left">
                    <div class="title-configuracion">
                        <div>
                            <label>Información General</label>
                        </div>
                        <div class="right-setting">
                            <div>
                                <div>
                                    <span>Página 1 de 3</span>
                                </div>
                                <div>
                                    <button><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login-box">
                        <div class="login-form-group">
                            <div class="header-form-group-login">
                                <label>Información General</label>
                            </div>
                            <div class="body-form-group-login">
                                <input id="ruc-login" type="text" placeholder="RUC" autocomplete="off" disabled/>
                                <input id="razon-social-login" type="text" placeholder="Razón Social" autocomplete="off" disabled/>
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="header-form-group-login">
                                <label>Datos del Solicitante</label>
                            </div>
                            <div class="body-form-group-login">
                                <input id="nombre-login" type="text" placeholder="Nombre" autocomplete="off" />
                                <input id="cargo-login" type="text" placeholder="Cargo" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="ap-paterno-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                                <input id="ap-materno-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="correo-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                                <input id="celular-login" type="text" placeholder="Celular" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="header-form-group-login">
                                <label>Seguridad</label>
                            </div>
                            <div class="body-form-group-login">
                                <input id="password-1-login" type="password" placeholder="Ingrese Contraseña" />
                                <input id="password-2-login" type="password" placeholder="Repite la Contraseña" />
                            </div>
                        </div>
                    </div>
                    <div class="login-button-section">
                        <button class="next-button bg-warning" id="next-page-1">Siguiente Página</button>
                        <button class="next-button bg-danger ml5" id="save-changes-1">Guardar Cambios</button>
                    </div>
                </div>
            </div>
            <div class="login-container crear-cuenta-2 d-block-none">
                <div class="login-left">
                    <div class="title-configuracion">
                        <div>
                            <label>Información General</label>
                        </div>
                        <div class="right-setting">
                            <div>
                                <div>
                                    <span>Página 2 de 3</span>
                                </div>
                                <div>
                                    <button><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login-box">
                        <div class="login-form-group">
                            <div class="header-form-group-login">
                                <label>Contacto de Gerencia de Venta/Gerencia General</label>
                            </div>
                            <div class="body-form-group-login">
                                <input id="nombre-gerencia-login" type="text" placeholder="Nombre" autocomplete="off" />
                                <input id="cargo-gerencia-login" type="text" placeholder="Cargo" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="ap-paterno-gerencia-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                                <input id="ap-materno-gerencia-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="correo-gerencia-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                                <input id="celular-gerencia-login" type="text" placeholder="Celular" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="header-form-group-login">
                                <label>Contacto Facturación</label>
                            </div>
                            <div class="body-form-group-login">
                                <input id="nombre-facturacion-login" type="text" placeholder="Nombre" autocomplete="off" />
                                <input id="cargo-facturacion-login" type="text" placeholder="Cargo" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="ap-paterno-facturacion-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                                <input id="ap-materno-facturacion-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="correo-facturacion-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                                <input id="celular-facturacion-login" type="text" placeholder="Celular" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-button-section">
                            <button class="next-button bg-warning" id="preview-page-2">Anterior Página</button>
                            <button class="next-button bg-warning ml5" id="next-page-2">Siguiente Página</button>
                            <button class="next-button bg-danger ml5" id="save-changes-2">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-container crear-cuenta-3 d-block-none">
                <div class="login-left">
                    <div class="title-configuracion">
                        <div>
                            <label>Información General</label>
                        </div>
                        <div class="right-setting">
                            <div>
                                <div>
                                    <span>Página 3 de 3</span>
                                </div>
                                <div>
                                    <button><i class="fa fa-edit"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login-box">
                        <div class="login-form-group">
                            <div class="header-form-group-login">
                                <label>Contacto Técnico</label>
                            </div>
                            <div class="body-form-group-login">
                                <input id="nombre-tecnico-login" type="text" placeholder="Nombre" autocomplete="off" />
                                <input id="cargo-tecnico-login" type="text" placeholder="Cargo" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="ap-paterno-tecnico-login" type="text" placeholder="Apellido Paterno" autocomplete="off" />
                                <input id="ap-materno-tecnico-login" type="text" placeholder="Apellido Materno" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-form-group">
                            <div class="body-form-group-login">
                                <input id="correo-tecnico-login" type="text" placeholder="Correo Electronico" autocomplete="off" />
                                <input id="celular-tecnico-login" type="text" placeholder="Celular" autocomplete="off" />
                            </div>
                        </div>
                        <div class="login-button-section">
                            <button class="next-button bg-warning" id="preview-page-3">Anterior Página</button>
                            <button class="next-button bg-danger ml5" id="save-changes-3">Guardar Cambios</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/configuracion/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/configuracion/list.ajax.js?version=@ViewBag.Time"></script>