﻿@{
    ViewBag.title = "Mantenimiento del Manual";
    ViewBag.app_version = PortalProveedor.Models.Helpers.APP_VERSION;

}

<div class="page-inner">
    <div class="row panel-head">
        <div class="col-lg-9">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">Manual</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Manual</div>
                        @*<button id="ExportToExcel" class="form-control"
                                style="width: min-content; margin-right: 10px; position: absolute; right: 0;
                                        border: none; color: #31CE36; cursor: pointer; padding: 0;">
                            <i class="fa fa-file-excel" style="font-size: 25px;"></i>
                        </button>*@
                    </div>
                </div>
                <div class="card-body">
                    @{
                        if (ViewBag.ProfileId != ViewBag.ProveedorProfileId)
                        {
                            <a id="download" href="#" class="btn-download" target="_blank">Descargar Aquí</a>
                            <button id="add" class="btn-alone bg-btn-success go-to-right"><i class="fa fa-plus"></i></button>
                        }
                        else
                        {
                            <a id="download" style="display: block; position: relative; width: max-content;"
                               href="#" class="btn-download" target="_blank">Descargar Aquí</a>
                        }
                    }
                    <table id="manual-datatable" class="display table table-striped table-hover dataTable d-block-none">
                        <thead>
                            <tr>
                                <th>Nombre del Archivo</th>
                                <th>Fecha de Creación</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>ShowLoading();</script>

<script src="~/assets/site/manual/list.js?version=@ViewBag.Time"></script>
<script src="~/assets/site/manual/list.ajax.js?version=@ViewBag.Time"></script>