﻿<div class="container">
    <nav class="pull-left">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="http://www.themekita.com">
                    ThemeKita
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Help
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Licenses
                </a>
            </li>
        </ul>
    </nav>
    <div class="copyright ml-auto">
        2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
    </div>
</div>
