﻿<nav class="navbar navbar-header navbar-expand-lg">
    <div class="container-fluid">
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
            <li style="">
                <span style="display: block; margin: 30px 10px 0 0; color: #344c69;">Bienvenido, 
                <b style="font-weight: 800;">@ViewBag.FullName</b></span>
            </li>
            <li class="navbar-login-info">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <div class="avatar-sm">
                                <img src="@ViewBag.PhotoUrl" alt="..." class="avatar-img">
                            </div>
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <span id="logout">Cerrar Sesión</span>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        @*<i class="fa fa-bell"></i>*@
                        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="notification" id="notification-number"></span>
                        </a>
                        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                            <li>
                                <div class="dropdown-title" id="notification-number-title"></div>
                            </li>
                            <li>
                                <div class="notif-scroll scrollbar-outer">
                                    <div class="notif-center" id="notification-body">

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>